#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #viewitem {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #viewitem td, #viewitem th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #viewitem tr:nth-child(even){background-color: #f2f2f2;}
  
  #viewitem tr:hover {background-color: #ddd;}
  
  #viewitem th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }